// Colors

:root{
    // Global Colors
    --bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 10%);
    --header-height: 6rem;
    --brand-color: #F2662F;
}

$font-italiana: "Italiana";
$font-prompt: "Prompt";
